<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
</head>

<body>
    <header th:replace="layout/layout :: menu"></header>
    <div class="container py-4">
        <div class="card">
            <div class="card-header">
                <h1 th:text="${titulo}"></h1>
            </div>

            <div th:object="${factura}" th:remove="tag">

                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <a class="btn btn-success" th:href="@{/ver/} + ${factura.cliente.id}">Ver detalle del cliente</a>
                    </div>
                    <div class="col-sm-6">
                        <input th:value="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido} " class="form-control" disabled='disabled'/>
                    </div>
                </div>
                <form th:action="@{/factura/form/}" th:object="${factura}" method="post" class="my-4">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" th:text="Descripci&oacute;n"></label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{descripcion}" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" th:text="Observaci&oacute;n"></label>
                        <div class="col-sm-6">
                            <textarea th:field="*{observacion}" class="form-control"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" th:text="'Buscar producto'"></label>
                        <div class="col-sm-6">
                            <input type="text" name="buscar_producto" id="buscar_producto" class="form-control" />
                        </div>
                    </div>

                    <table th:replace="factura/plantilla-items :: itemsFactura"></table>
                    
                    <div class="form-group row">
                        <input type="submit" th:value="${titulo}" class="btn btn-secondary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <footer th:replace="layout/layout :: footer"></footer>
    <script th:replace="factura/js/autocompleteProductos :: autocomplete-producto" ></script>
</body>
</html>